---
layout: default
---

{%- assign monsters = site.data.data.monsters -%}
{%- assign places = site.data.data.places -%}
{%- assign num_monsters = site.data.data.num_monsters -%}
{%- assign num_places = site.data.data.num_places -%}
{%- assign amounts = site.data.data.amounts -%}
{%- assign typeids = site.data.data.typeids -%}
{%- assign levels = site.data.data.levels -%}

<div class="container">

  <form>

    <div class="form-group">
      <label for="selected_monster">怪物</label>
      <select class="custom-select col" id="selected_monster">
      <option selected value="-1">选择...</option>
        {% for monster in monsters %}
          <option value="{{ forloop.index0 }}" name="{{ monster }}">{{ monster }}</option>
        {% endfor %}
        </select>
    </div>

    <div class="form-group">
      <label for="add_amount">数量</label>
      <input type="number" class="form-control col" id="add_amount" value="0" aria-describedby="add-amount-label">
    </div>

    <div class="form-group">
      <div class="row">
        <button type="submit" class="btn btn-primary col" id="btn_add" formaction="javascript:add()">添加</button>
        <button type="submit" class="btn btn-success col" id="btn_calc" formaction="javascript:calc()">计算</button>
        <button type="submit" class="btn btn-danger col" id="btn_reset" formaction="javascript:reset()">重置</button>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#more_setting" aria-expanded="false" aria-controls="more_setting"/>
        更多设置
      </button>
    </div>

    <div id="accordion">
      <div class="card card-body">
        <div class="collapse ml-4" id="more_setting" data-parent="#accordion">

          <div class="form-group">
            <input class="form-check-input" type="checkbox" checked="checked" onchange="enableByCheck($(this), $('#level_yh'))" id="is_yh">
            <label class="form-check-label" for="is_yh">御魂</label>
            <div class="row align-items-center">
              <label class="col-auto">最高第</label>
              <input type="number" class="form-control col-2" id="level_yh" value="5">
              <label class="col-auto">层</label>
            </div>
          </div>

          <div class="form-group">
            <input class="form-check-input" type="checkbox" checked="checked" id="is_tz">
            <label class="form-check-label" for="is_tz">挑战</label>
          </div>

          <div class="form-group">
            <input class="form-check-input" type="checkbox" checked="checked" id="is_yqfy">
            <label class="form-check-label" for="is_yqfy">妖气封印</label>
          </div>

          <div class="form-group">
            <input class="form-check-input" type="checkbox" checked="checked" onchange="enableByCheck($(this), $('#level_mm'))" id="is_mm">
            <label class="form-check-label" for="is_mm">秘闻</label>
            <div class="row align-items-center">
              <label class="col-auto">最高第</label>
              <input type="number" class="form-control col-2" id="level_mm" value="5">
              <label class="col-auto">层</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">已选择</h5>
        <ul class="list-group"id="selected_monsters_list"></ul>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">结果</h5>
        <ul class="list-group"id="gq_list"></ul>
      </div>
    </div>

  </form>

  <label>数据来源：http://cc.koncoo.com/yys/（by 同心一意-富姐）</label>

</div>

<script>

  var num_monsters = {{ num_monsters }};
  var num_places = {{ num_places }};

  var typeids = [
  {%- for i in (1..num_places) -%}
    {%- assign ii = forloop.index0 -%}
    {{- typeids[ii] -}}, 
  {%- endfor -%}
  ];

  var levels = [
  {%- for i in (1..num_places) -%}
    {%- assign ii = forloop.index0 -%}
    {{- levels[ii] -}}, 
  {%- endfor -%}
  ];

  var monsters = [
  {%- for i in (1..num_monsters) -%}
    {%- assign ii = forloop.index0 -%}
    "{{- monsters[ii] -}}", 
  {%- endfor -%}
  ];

  var places = [
  {%- for i in (1..num_places) -%}
    {%- assign ii = forloop.index0 -%}
    "{{- places[ii] -}}", 
  {%- endfor -%}
  ];

  var amounts = [
  {%- for i in (1..num_places) -%}
    {%- assign ii = forloop.index0 -%}
    [
    {%- for j in (1..num_monsters) -%}
      {%- assign jj = forloop.index0 -%}
      {{ amounts[ii][jj] -}}, 
    {%- endfor -%}
    ],
  {%- endfor -%}
  ];

  var id_list = [];
  var amount_list = [];

  function newArray2D(row, col) {
    var arr = new Array(row);
    for (i = 0; i < row; i++) {
      arr[i] = new Array(col);
    }
    return arr;
  }

  function add() {
    var id = parseInt(document.getElementById('selected_monster').value);
    var amount = parseInt(document.getElementById('add_amount').value);

    if (id == -1) {
      alert("请选择怪物");
      return;
    }

    if (amount <= 0) {
      alert("数量不对");
      return;
    }

    console.log(id);
    var name = monsters[id];

    $("#selected_monsters_list").append(
      '<li class="list-group-item  d-flex justify-content-between align-items-center">' + name + 
      '<span class="badge badge-primary badge-pill">' + amount.toString() + '</span>' + '</li>');
    id_list.push(id);
    amount_list.push(amount);
  }

  function calc() {

    clearResult();

    var lambda_c = 100.0;
    var L = id_list.length;

    var constraints = {};
    for (i = 0; i < L; i++) {
      constraints["monster_" + id_list[i].toString()] = {"min": amount_list[i]};
    }
    console.log("Constraints:");
    console.log(constraints);

    var variables = {};
    for (i = 0; i < num_places; i++) {

      var has_selected_monster = false;
      for (j = 0; j < L; j++) {
        if (amounts[i][id_list[j]] != 0) {
          has_selected_monster = true;
        }
      }
      if (!has_selected_monster) {
        continue;
      }

      var place_name = "place_" + i.toString();
      variables[place_name] = {};
      // variables[place_name]["cost"] = cost_strength[i] + lambda_c * cost_challenge[i];
      cost = getCost(typeids[i], levels[i]);
      variables[place_name]["cost"] = cost;
      variables[place_name][place_name] = 1;
      for (j = 0; j < num_monsters; j++) {
        if (amounts[i][j] != 0) {
          variables[place_name]["monster_" + j.toString()] = amounts[i][j];
        };
      }
    }
    console.log("Variables:");
    console.log(variables);

    var ints = {};
    for (i = 0; i < num_places; i++) {
      ints["place_" + i.toString()] = 1;
    }
    console.log("Ints:");
    console.log(ints);

    var model = {
        "optimize": "cost",
        "opType": "min",
        "constraints": constraints,
        "variables": variables,
        "ints": ints,
    }
    
    $('#btn_calc').attr('disabled', 'disabled');
    $('#btn_calc').append('<span class="spinner-border spinner-grow-sm" role="status" aria-hidden="true" id="spinner_calc"/>');
    var solution = solver.Solve(model);
    console.log(solution);
    $('#btn_calc').removeAttr('disabled');
    $('#spinner_calc').remove();

    for (i = 0; i < num_places; i++) {
      var place_name = "place_" + i;
      if (place_name in solution) {
        $("#gq_list").append(
          '<li class="list-group-item  d-flex justify-content-between align-items-center">' + places[i] + 
          '<span class="badge badge-primary badge-pill">' + solution[place_name] + '</span>' + '</li>');

      }
    }

  }

  function reset() {
    clearSelected();
    clearResult();
  }

  function clearSelected() {
    id_list = [];
    amount_list = [];
    document.getElementById("selected_monsters_list").querySelectorAll('*').forEach(n => n.remove());
  }

  function clearResult() {
    document.getElementById("gq_list").querySelectorAll('*').forEach(n => n.remove());
  }

  function getCost(typeid, level) {
    switch(typeid) {
      // 御魂
      case 0:
        if ($('#is_yh').prop('checked')) {
          if (parseInt($('#level_yh').prop('value')) >= (level + 1)) {
            return 4.0;
          } else {
            return 1e5;
          }
        } else {
          return 1e5;
        }
      // 探索
      case 1:
        if (level == 0) {
          return 3.0;
        } else {
          return 1e5;
        }
      // 挑战
      case 2:
        if ($('#is_tz').prop('checked')) {
          return 3.0;
        } else {
          return 1e5;
        }
      // 妖气
      case 3:
        if ($('#is_yqfy').prop('checked')) {
          return 3.0;
        } else {
          return 1e5;
        }
      // 秘闻
      case 4:
        if ($('#is_mm').prop('checked')) {
          if (parseInt($('#level_mm').prop('value')) >= (level + 1)) {
            return 3.0;
          } else {
            return 1e5;
          }
        } else {
          return 1e5;
        }
    }
  }

  function enableByCheck(check, other) {
    if (check.prop('checked')) {
      other.removeAttr('disabled');
    } else {
      other.attr('disabled', 'disabled');
    }
  }

</script>
